@font-face { font-family: customFont; src: url('neonize.ttf'); } 

 .container {
    position: relative;
    height: 170px;
}

.logoclass img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 110px;
    height: auto;
    filter: invert(1);
}

.toptext h1{
    font-family: "customFont";
    text-rendering: geometricPrecision;
    font-weight: lighter;
    text-align: center;
    line-height: 120px; /* vertically align text */
    font-size: 60px;

    color: #d7fd12;
    text-shadow:
    0 0 7px #fe8618,
    0 0 10px 
#fe8618,
    0 0 21px #fe8618,
    0 0 42px #e95e01,
    0 0 82px #cf4600,
    0 0 92px #cf4600,
    0 0 102px ,
    0 0 151px #cf4600;
}

/*END OF TITLE BLOCK*/

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #fff;
  padding: 20px;

  background-color: black;
}

head {
  background-color: black;
}

h1 {
    text-align: center;
}

.imagecontainer {
    margin-bottom: 16px;
    text-align: center;
}

.imagecontainer p{
    margin-top: 10px;
    font-size: medium;
    text-align: center;
    font-family: 'Arial', sans-serif;
    color: #fff;
    font-weight: bold;
}

.imagecontainer a{
  text-decoration: none;
}

.imagecontainer img{
  max-height: 300px;
  box-shadow:
    0 0 3px #fe8618,
    0 0 5px 
#fe8618,
    0 0 10px #fe8618,
    0 0 21px #e95e01,
    0 0 42px #cf4600,
    0 0 48px #cf4600,
    0 0 51px ,
    0 0 75px #cf4600;
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 32%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}