.container {
    position: relative;
    height: 170px;
}

.logoclass img{
    position: absolute;
    top: 10px;
    left: 10px;
    width: 110px;
    height: auto;
}

.toptext h1{
    text-align: center;
    line-height: 120px; /* vertically align text */
    font-size: 40px;
}

/*END OF TITLE BLOCK*/

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
  padding: 20px;

  margin: 0;
  overflow-x: hidden;
}

#image-row {
    display: flex;
    width: 100vw;
    height: 250px;
    overflow: hidden;
    align-self: center;
}

.slot-img {
    width: 19.5vw;
    height: 100%;
    object-fit: cover;
    display: block;
}